body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI";
  margin: 0;
  padding: 0;
  padding: 0;
  font-size: 16px;
  word-spacing: 0px;
}
.flex {
  display: flex;
}

.first-pic {
  width: 75%;
}

.ilus {
  width: 150px;
}
.ilus1 {
  width: 150px;
}

.half {
  border-radius: 25px;
  margin: 0 15px;
  box-shadow: 10px 10px 40px gray;
  padding: 25px 25px;
  width: 25%;
}

.sections {
  margin: 100px 100px 100px 300px;
}

.head {
  font-family: "Spline Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  border-left: 4px solid;
  border-image: linear-gradient(#afbed1, #7fbeeb);
  border-image-slice: 1;
}

.head-corona {
  font-family: "Spline Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  border-left: 4px solid;
  border-image: linear-gradient(#ffcbdd, #cb5c34);
  border-image-slice: 1;
}

.first-div {
  width: 60%;
  margin: 100px 0;
}
.second-div {
  width: 50%;
}

.button {
  width: 15px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(#0077b6, #0077b6);
  font-weight: 500;
}

.corona {
  border-radius: 25px;
  margin: 100px 100px;
  box-shadow: 5px 5px 20px #ef476f;
  padding: 25px 25px;
}
h2 {
  /* Font & Text */

  font-size: 32px;
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
}
.section1 {
  margin: 100px 100px 100px 300px;
}
.corona-half {
  padding: 25px 25px;
  width: 25%;
}
.ilus1 {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-para {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 0px;
}
.boxXax {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  word-spacing: 0px;
  margin: 0 0 0 0;
  display: block;
}

footer {
  background-color: #0b0d17;
  font-family: "Spline Sans", sans-serif;
  color: white;
  text-align: center;
  padding: 25px 0;
  margin-top: 25px 0 0 0;
}

.boxXax a {
  width: 5px;
  text-decoration: none;
  color: black;
  padding: 1px 1px;
  border-radius: 2px;
  background-image: linear-gradient(#b5e48c, #76c893);
  font-weight: 600;
}

.boxColor1 {
  background-color: #ffd00012;
}
.boxColor2 {
  background-color: #78c6a313;
}

.boxColor3 {
  background-color: #fff1e659;
}

.para1 {
  margin-right: 200px;
  line-height: 24px;
}

p a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  background-image: linear-gradient(#6047ec10, #d047ec29);
  font-weight: 500;
}
